# Dependencies
node_modules/

# Build output
dist/
coverage/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Prisma
prisma/dev.db
prisma/dev.db-journal

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# NestJS
.eslintcache

# TypeScript
*.tsbuildinfo

# Turbo
.turbo/

# pnpm
.pnpm-store/

# Docker
docker-data/
